body{
    background-color: #d6e4ff;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.topbar{
    background-color: #ffff;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons{
    display: flex;
    gap: 10px;
}
.homeSvg,.userSvg{
    width: 45px;
    color: #668cd1;
    transition: all 200ms ease;
}
.homeSvg:hover,.userSvg:hover{
    width: 45px;
    color: #2196F3;
}
.presentacion{
    display: flex;
    align-items: center;
    gap: 10px;
}
.presentacion p{
    font-weight: 200;
    color: #668cd1;
    font-size: 20px;
}
.presentacion p span{
    font-weight: 600;
    color: #759adf;
}
.userIcon{
    width: 50px;
    height: 50px;
    background-color: #2196F3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: white;
}

.container{
    width: 100%;
    min-height: 100vh;
}

.container h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 2rem;
    color: #2196F3;
    font-weight: 700;
}

.todo-app{
    width: 100%;
    max-width: 600px;
    background: #fff;
    margin: 0 auto;
    border-radius: 30px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 15px;
    font-weight: 300;
    font-size: 25px;
    color: gray;
}

button{
    border: none;
    outline: none;
    padding: 20px 50px;
    background:#2196F3;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

#list-container{
    display: flex;
    flex-direction: column;
    background-color:#d6e4ff;
    padding: 0;
}

ul li{
    word-wrap: anywhere;
    list-style: none;
    margin: 0 auto;
    width: 500px;
    max-width: 500px;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    font-size: 17px;
    font-weight: 600;
    margin-top: 20px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    background-color: #ffffff;
    color: #2196F3;
   
}

.iconShare{
    width: 40px;
    color: #2196F3;
}

ul li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 23px;
    left: 8px;
}

ul li.checked{
    color: #82c0f3;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(../images/checked.png);
}

ul li span{
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #2196F3;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}

.lateralicons{
    display: flex;
    gap: 5px;
    padding-left: 10px;
}



